<a href="https://colab.research.google.com/github/kparkk2/quiz/blob/master/Quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 피라미드 그리기

텍스트로도 간단한 피라미드를 그릴 수 있다. 별모양(*)과 빈칸만 있으면 간단하다.

4층짜리 피라미드 예시는 이렇다.

```
   *
  ***
 *****
*******
```

1층은 별 7개, 2층은 별 5개… 꼭대기는 별 1개로 고정된다.

피라미드의 층수가 N으로 주어졌을 때(N>0) N층짜리 피라미드를 출력(print)하는 코드를 만들어보자.

코드는 하나의 함수로 완성해야 한다.

### 코드 예시

```
def print_pyramid(N):
  // 생략
```

### 실행 예시

```
$ print_pyramid(8)
0	       *       
1	      ***      
2	     *****     
3	    *******    
4	   *********   
5	  ***********  
6	 ************* 
7	***************
```

### 정답 예시

In [1]:
def print_pyramid(N):
    for i in range(N):
        print(' ' * (N-i-1) + '*'*(2*i+1) + ' ' * (N-i-1))

print_pyramid(8)

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

# 2. 피보나치 수열 구하기

피보나치 수열은 0, 1, 1, 2, 3, 5, 8, 13, 21, …와 같은 순서로 진행된다.

이 수열에는 일정한 법칙이 있는데, 다음과 같은 식으로 나타낼 수 있다.

\begin{equation}
F_0 = 0\\
F_1 = 1\\
F_n = F_{n-1} + F_{n-2} \ (n \geq 2)
\end{equation}

즉 n번째 숫자는 n-1번째 수와 n-2번째 수를 더한 값이 된다.

이제 N번째 피보나치 수를 구하는 함수를 직접 작성해보자.

확인을 위해 F<sub>30</sub>을 구해볼 것. 정답은 832040이다.

### 실행 예시

```
$ fibo(30)
> 832040
```

### 정답 예시

In [2]:
# 정답1
def fibo1(N):
    if N <= 0:
        return 0
    elif N == 1:
        return 1
    else:
        return fibo1(N-1) + fibo1(N-2)

# 정답2
fibos = [0, 1]

def fibo2(N):
    if len(fibos) - 1 < N:
        for i in range(len(fibos), N+1):
            fibos.append(fibos[i-1] + fibos[i-2])
    return fibos[N]

print(fibo1(30), fibo2(30))

832040 832040

# 3. 선수 이름, 결과 분류

#### __* Dictionary, List,for loop까지 익힌 뒤에 하는 것을 추천__

야구 문자 중계 텍스트를 읽어오고 분류하다보면, 타석 결과 텍스트를 읽고 판독하는 경우가 잦다.

흔히 볼 수 있는 타석 결과 텍스트는 'OOO : 안타' 와 같은 것이다.

당장은 어렵겠지만 먼 훗날(?) 이렇게 정리된 데이터를 직접 분류할 때가 온다고 상상해보며 간단한 예제를 수행해보자.

아래 주어진 데이터는 `'선수 이름, 결과'` 형식으로 된 일련의 문자열 리스트다.

이 리스트를 읽고 타석 결과를 선수 이름에 따라 묶고, 선수 별로 타석 결과가 몇 번씩 나오는지 직접 세어보자.

### 데이터 다운로드

아래 두 코드 셀을 실행하면 `lines`라는 리스트에 결과 값이 들어간다.

In [ ]:
!wget https://raw.githubusercontent.com/kparkk2/quiz/master/pars.csv

In [3]:
f = open('pars.csv', 'r', encoding='cp949')
lines = [x.strip() for x in f.readlines()][1:]
f.close()

# 예시 : lines의 첫 10개 출력
lines[:10]

['이대호,삼진',
 '로맥,볼넷',
 '로맥,홈런',
 '로맥,볼넷',
 '로맥,삼진',
 '로맥,삼진',
 '강백호,삼진',
 '강백호,홈런',
 '구자욱,포스 아웃',
 '강백호,삼진']

실제 결과는 다음과 같다.

위쪽의 표는 파이썬 데이터 분석용 라이브러리 `Pandas`를 활용한 것이고

아래는 단순히 dictionary 형태로 분류한 결과물이다.

형식은 자유이니 맘껏 분류해보도록 하자.


```
# 실행결과 1
pa_result  볼넷  삼진  포스 아웃  홈런
batter
강백호        25  33     34   4
구자욱        21  37     50   5
김현수        23  18     59   4
로맥         33  46     34  12
박건우        20  12     30   5
양의지         9  11     20   4
이대호        19  17     47   4
이정후        17  20     66   3
정은원        13  44     77   3
최형우        31  36     47   7

# 실행결과 2
{'강백호': {'볼넷': 25, '삼진': 33, '포스 아웃': 34, '홈런': 4},
 '구자욱': {'볼넷': 21, '삼진': 37, '포스 아웃': 50, '홈런': 5},
 '김현수': {'볼넷': 23, '삼진': 18, '포스 아웃': 59, '홈런': 4},
 '로맥': {'볼넷': 33, '삼진': 46, '포스 아웃': 34, '홈런': 12},
 '박건우': {'볼넷': 20, '삼진': 12, '포스 아웃': 30, '홈런': 5},
 '양의지': {'볼넷': 9, '삼진': 11, '포스 아웃': 20, '홈런': 4},
 '이대호': {'볼넷': 19, '삼진': 17, '포스 아웃': 47, '홈런': 4},
 '이정후': {'볼넷': 17, '삼진': 20, '포스 아웃': 66, '홈런': 3},
 '정은원': {'볼넷': 13, '삼진': 44, '포스 아웃': 77, '홈런': 3},
 '최형우': {'볼넷': 31, '삼진': 36, '포스 아웃': 47, '홈런': 7}}
```

### 정답 예시

In [4]:
pars = {}

for l in lines:
    b = l.split(',')[0]
    r = l.split(',')[1]
    
    if pars.get(b) is None:
        pars[b] = {}
    if pars[b].get(r) is None:
        pars[b][r] = 1
    else:
        pars[b][r] += 1

pars

{'이대호': {'삼진': 17, '볼넷': 19, '포스 아웃': 47, '홈런': 4},
 '로맥': {'볼넷': 33, '홈런': 12, '삼진': 46, '포스 아웃': 34},
 '강백호': {'삼진': 33, '홈런': 4, '포스 아웃': 34, '볼넷': 25},
 '구자욱': {'포스 아웃': 50, '삼진': 37, '볼넷': 21, '홈런': 5},
 '박건우': {'볼넷': 20, '포스 아웃': 30, '삼진': 12, '홈런': 5},
 '정은원': {'포스 아웃': 77, '삼진': 44, '홈런': 3, '볼넷': 13},
 '이정후': {'포스 아웃': 66, '볼넷': 17, '삼진': 20, '홈런': 3},
 '양의지': {'삼진': 11, '포스 아웃': 20, '볼넷': 9, '홈런': 4},
 '최형우': {'삼진': 36, '포스 아웃': 47, '볼넷': 31, '홈런': 7},
 '김현수': {'포스 아웃': 59, '삼진': 18, '볼넷': 23, '홈런': 4}}